h1 {
    font-size:200%;
    text-align:center;
    padding-bottom: 30px;
}

ul {
    padding-top: 40px;
    vertical-align:middle;
    font-size:150%;
    line-height:120%;
}

li {
    list-style: disc;
    padding-top:20px;
    padding-bottom:10px;
    margin-left:40px;
}
